# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
profile-*
.DS_Store
*.swp
.idea
.vscode
*code-workspace
profile*
*clinic*
*flamegraph*
examples/typescript-server.js
test/types/index.js
.nyc_output/*